.header {
  background: #33b5e5;
  color: #fff;
  display: flex;
  justify-content: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.headercontainer {
  width: 1400px;
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
}

.menubar {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}
