form {
  width: 200px;
}
.error-message {
  color: red;
}
button {
  width: 90%;
  padding: 10px 5px;
  background-color: #5cb85c;
  border-style: none;
  color: white;
  margin-top: 10px;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
