.addcartform {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

select {
  margin-bottom: 10px;
  width: 110px;
  padding: 5px 10px;
}
.addcartbtn {
  width: 110px;
  color: white;
  background-color: #33b5e5;
  padding: 5px 10px;
  margin-bottom: 20px;
}
button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
